#container{
    display: flex;
    align-items: center;
    padding-left: 100px;
}

#everything{
    display:flex;
    flex-wrap:wrap;
}

#dirt-box{
    width: 600px;
    height: 500px;
    background-color: rgb(127,204,51);
    display: flex;
    flex-wrap: wrap;
    border-radius:30px;
    border: 10px solid green;
}

.row{
    padding-top: 10%;
    width: 600px;
    display:flex;
    justify-content: space-around;
}

#mole{
    width: 90px;
    height:80px;
    /*border-radius: 50%;*/
    background-image: url("assets/Mole.png");
}
#sideMole{
    height:300px;
    width: 300px;
    display: flex;
    background-image: url("assets/SideMole.png");
}
.dirt{
    width:80px;
    height:80px;
    border-radius:50%;
    background-color:rgb(205,133,63);
    border:5px solid rgb(139,69,19);

}

#title{
    display:flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Barrio', cursive;
    padding-bottom: 20px;
    
}
#score{
    font-family: 'Barrio', cursive;
    display:flex;
    justify-content: center;
    padding-bottom: 10px;
}
#sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 100px;
}

#reset{
    font-family: 'Barrio', cursive;
    padding: 5px;
    border-radius: 30%;
    border:solid green;
    background-color: rgb(127,204,51); 
}

#timer{
    font-family: 'Barrio', cursive;
    display: flex;
    justify-content: center;  
}